.top {
    background-color: #1f2937;
    color: white;

}

.topcontainer {
    display: flex;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin-top: -1px;
}

.topcontainer2 {
    display: flex;
   
}

.imageplaceholder {
    background-color: rgba(128,128,128,.4);
    text-align: center;
}