.top {
    background-color: #1f2937;
    color: white;
    font-family: 'Nanum Myeongjo', serif;

}

.topcontainer {
    display: flex;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin-top: -1px;
}
    a:link { text-decoration: none; 
        color: white;
}

.topcontainer2 {
    display: flex;
    margin-right: 100px;
    margin-left: 100px;
    gap: 100px;


}
.divtext {
    height: 150px;
    width: 300px;
    position: absolute;
    margin-top: 80px;
 
}
h2 {
    height: 200px;
    width: 150px;
}

button {
    background-color: royalblue;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 8px;
    margin-top: -25px;
    font-family: 'Nanum Myeongjo', serif;
   
}
.imageplaceholder {
    background-color: rgba(128,128,128,.4);
    text-align: center;
    padding-top: 100px;
    flex: 1;
    height: 90px;
    margin-top: 20px;
    margin-left: 100px;
    

}